.text-1{
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    

}
.text-2 {
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Amatic SC', cursive;
    font-size: 25px;

}
body {
    background: #5614B0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DBD65C, #5614B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DBD65C, #5614B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
.text {
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
    
}
#texto {
  color: white;
}
.video {
    padding: 0px;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
